@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

:root{
    --clr-primary-900: rgba(255,255,255, 0.5);
    --clr-neutral-100:#FFF;

    --ff-primary:'Montserrat', sans-serif;
    --ff-sz1: 1.5vw;
    --ff-sz2: 2vw;
    --ff-sz4: 4vw;
    --ff-4:400;
    --ff-5:500;
    --ff-7:700;
    --ff-9:900;

}

*,
*::before,
*::after{
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4{
    font-family: var(--ff-primary);
    margin: 0;
    color: white;
}

/*start*/

.bg{
    background-color: rgb(15, 15, 15);
}

.content{
    padding: 8% 15% 5% 15%;
}

.title h1{
    text-align: center;
    font-size: 3vw;
    font-weight: var(--ff-7);
    margin-bottom: 5%;
}

.tigakotak{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.kotakper{
    margin: 0 2% 0 2%;
    width: 100vw;
    height: 30vw;
    background-color: #616161;
    border-radius: 0 0 10px 10px;
}

.kotakper > h2, h4 {
    
}

.kotakper h1{
    font-size: 1.8vw;
    background-color: rgb(122, 122, 122);
    padding: 2%;
}

.detailhrg{
    margin: 6vw 0 9vw 0;
    text-align: center;
}

.detailhrg h2{
    font-size: 3vw;
}

.detailhrg h4{
    font-size: 2vw;
}

.beliacc{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #11569B;
    height: 4vw;
    border-radius: 0 0 10px 10px;
}

button{
    text-decoration: none;
    border: none;
    box-shadow: none;
    margin: 0;
}

.beliacc h2{
    font-size: 1.5vw;
    margin-right: 1em;
    width: 15vw;
}