@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

:root{
    --clr-primary-900: rgba(255,255,255, 0.5);
    --clr-neutral-100:#FFF;

    --ff-primary:'Montserrat', sans-serif;
    --ff-sz1: 1.5vw;
    --ff-sz2: 2vw;
    --ff-sz4: 4vw;
    --ff-4:400;
    --ff-5:500;
    --ff-7:700;
    --ff-9:900;

}

*,
*::before,
*::after{
    box-sizing: border-box;
}

body, h3, h5{
color: white;
font-style: 'Montserrat', sans-serif;
margin: 0;
line-height: 1.5;
letter-spacing: 0.1vw;
}
/*start*/

.bgimg{
    background-image: url("../../img/bg.jpeg");
    margin: 0;
}

.black{
    background-color:  rgba(0, 0, 0, 0.8);
    height: 100vh;
}

.content{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 6% 35% 0 35%;
}

/* items inside */
.namenumber{
    margin: 0.5vw 0 1vw 0;
}

.namenumber h3{
    font-size: 3vw;
    font-weight: var(--ff-7);
}

.namenumber h5{
    font-size: 1vw;
}

.status{
    background-color: #363636;
    height: 5em;
    text-align: center;
    padding: 3%;
    margin-bottom: 1.8em;
}

.otherbuttondiv{
    display: flex;
    flex-direction: column;
}

.otherbuttondiv > a{
    background-color: #363636;
    margin-bottom: 0.6em;
    height: 4em;
    padding: 3%;
}

