@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

:root{
    --clr-primary-900: rgba(255,255,255, 0.5);
    --clr-neutral-100:#FFF;

    --ff-primary:'Montserrat', sans-serif;
    --ff-sz: 5vw;
    --ff-4:400;
    --ff-5:500;
    --ff-7:700;
    --ff-9:900;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4{
    font-family: var(--ff-primary);
    margin: 0;
}

.bg{
    height: 100vh;
    display: flex;
}

/* ini sebelah kiriiiiiii*/
.kiri{
    flex: 40%;
    color: var(--clr-neutral-100);
    background-image: url(../img/bg.jpeg);
}

.kiri .blue{
    background-color: rgba(51, 136, 216, 0.5);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kiri .container{
    padding: 0% 7% 0% 7%;
}

.kiri h1{
    font-weight: 700;
    font-size: var(--ff-sz);
}

.kiri span{
    font-weight: 400;
    font-size: 2vw;
}

.kiri .details{
    font-weight: 400;
    font-size: 1.25vw;
    padding-top: 25%;
}

/* ini sebelah kanannnnnnn */
.kanan{
    flex: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kanan h3{
    font-weight: var(--ff-7);
    font-size: 4vw;
    letter-spacing: 0.1rem;
}

.kanan h4{
    font-weight: var(--ff-4);
    font-size: 1.4rem;
    margin: 1em 0 1em 0;
    letter-spacing: 0.1rem;
    padding-bottom: 1em;
}

a{
    color: rgb(35, 147, 251);
    text-decoration: none;
}

/* ini inputan guyssss */
.kanan label{
    font-size: 1.1rem;
}

.box{
    border: 1px solid rgb(221, 221, 221);
    border-radius:5px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input{
    border: none;
    text-align: left;
    width: 40vw;
    height: 45px;
    padding-left: 1em;
    color: #797979;
    font-size: 1rem;
    font-weight: var(--ff-4);
    background: transparent;
    outline: 0;
}

.box img{
    padding-right: 0.5em;
}

/* ini tombol-tombolan guyssss */
.button{
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    height: 45px;
    margin: 0 15%;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
}

.button .button1{
    color: white;
    border: solid transparent 2px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    height: 45px;
    width: 100%;
}

.buttonBorder{
    border: solid 2px;
    border-color: rgb(128, 128, 128);
}

.button2{
    color: black;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    height: 45px;
}

.buttonFlex img{
    width: 30px;
    margin-left: 30px;
}

.buttonFlex{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#signup{
    background-color: rgb(19, 90, 182);
}