@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

:root{
    --clr-primary-900: rgba(255,255,255, 0.5);
    --clr-neutral-100:#FFF;

    --ff-primary:'Montserrat', sans-serif;
    --ff-sz: 5vw;
    --ff-4:400;
    --ff-5:500;
    --ff-7:700;
    --ff-9:900;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

body, a{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    line-height: 1.5;
    text-decoration: none;
    color: white;
}

h6{
    font-size: 0.8vw;
}

p, span{
    font-size: 0.6vw;
    letter-spacing: 0.1vw;
}

.footer{
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    background-color: #191919;
}

.footer-row > div {
    margin: 1% 5% 2% 5%;
    color: white;
}

.footer-row{
    display: flex;
    justify-content: center;
}

.footer-logo{
    margin-left: 20%;
    flex: 1 13%;
}

.footer-logo img {
    width: 85%;
    height: auto;
}

.footer-address{
    flex: 2 25%;
}

.footer-line{
    height: 2px;
    margin: 13% 0 6% 0;
    background-color: rgb(133, 133, 133);
}

.footer-about{
    flex: 3 20%;
}

.footer-sosmed{
    padding-top: 1.8%;
    flex: 4 42%;
}

.footer-sosmed a{
    margin: 5%;
}

.footer-sosmed i {
    font-size: 2.5vw;
}