@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

:root{
    --clr-primary-900: rgba(255,255,255, 0.5);
    --clr-neutral-100:#FFF;

    --ff-primary:'Montserrat', sans-serif;
    --ff-sz1: 1.5vw;
    --ff-sz2: 2vw;
    --ff-sz4: 4vw;
    --ff-4:400;
    --ff-5:500;
    --ff-7:700;
    --ff-9:900;

}

*,
*::before,
*::after{
    box-sizing: border-box;
}

body,
p{
    margin: 0;
    line-height: 1.5;
    letter-spacing: 0.1vw;
}

h4,
h5{
    font-size: 15px;
}

.bg{
    background-color: rgb(15, 15, 15);
}

.content{
    padding: 8% 8% 5% 8%;
}

.logonya {
    text-align: center;
    margin-bottom: 2em;
}

.logonya img{
    width: 15vw;
    height: 100%;
}

.logonya h4{
    margin: 1em;
    font-size: 1.2vw;

}

.isinyaok{
    background-color: #2c2c2c;
    padding: 5em;
}

.apakek{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.inikotak{
    margin: 1em;
    width: 200px;
}

.alb{
    display: flex;
    background-color: white;
    text-align: center;
    justify-content: center;
}

.alb img{
    width: 200px;
}